* {
  --primary-color: #183140;
  --primary-color-light: #2f4653;
  --secondary-color: #50dead;
  --scondary-color-light: #ddfef3;
  --background-color: #f5fcff;
}

.active-button {
  background-color: var(--secondary-color);
  color: var(--background-color);
  padding: 10px 16px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.active-button:hover {
  background-color: var(--scondary-color-light);
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}

.inactive-button {
  background-color: transparent;
  border-color: var(--secondary-color);
  color: var(--secondary-color);
  border-radius: 6px;
  padding: 10px 16px;

  border: 1px solid var(--secondary-color);
  cursor: pointer;
}

.inactive-button:hover {
  background-color: #50dead;
  color: #f5fcff;
}
.inactive-button.active {
  background-color: var(--secondary-color);
  color: var(--background-color);
}

.download.inactive {
  display: none;
}
