input,
textarea {
  margin: 1rem 0;
  border: 2px solid var(--secondary-color-light);
  padding: 1rem 1.6rem;
  border-radius: 6px;
  color: var(--primary-color-light);
  font-size: 1.6rem;
  display: block;
  width: 100%;
}
input:focus,
textarea:focus {
  outline: 1px solid var(--secondary-color);
}
.general-interface-container {
  padding: 5rem 0;
}
.control-panel {
  width: 360px;
  height: 716px;
  margin-right: 2rem;
  border-radius: 8px;
  overflow: hidden;
  border: 2px solid var(--secondary-color-light);
  box-shadow: 0px 4px 20px -7px rgba(0, 0, 0, 0.1);
}
.control-panel-inputs {
  padding: 2rem;
}

.control-panel-heading {
  padding: 1rem;
  text-align: center;
  background-color: var(--secondary-color);
  color: var(--background-color);
}
.input-containers {
  margin-bottom: 2rem;
}
.profile-input h4 {
  margin-bottom: 1rem;
}
.profile-photo {
  padding: 0.5rem;
  background: white;
}
.message .input-containers h4 {
  margin-top: 2rem;
}
#message-input {
  width: 100%;
  margin-bottom: 0;
}
.preview-section {
  width: 66%;

  background: var(--primary-color) url(../images/preview-img.svg);
  background-repeat: no-repeat;
  background-position: center;
  height: 1060px;
  padding: 3rem;
}
.preview-heading {
  color: var(--background-color);
  border-bottom: 4px solid var(--secondary-color);
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-radius: 8px;
}
.preview-title {
  text-align: center;
  color: var(--secondary-color);
  margin: 2rem 3rem;
}
.device-container {
  width: 390px;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
}
.iphone {
  margin: 0 auto;
  width: 375px;
  height: 890px;
  font-family: var(--chat-interface-font);
  position: relative;
  overflow: hidden;
  background-color: #fff;
}

.iphone-time {
  font-weight: 600;
}
.battery-container {
  position: relative;
  width: 24px;
  height: 11px;
  border: 2px solid #9f9f9f;
  border-radius: 3px;
  padding: 1px;
}
.battery-percentage {
  width: 50%;
  background: black;
  height: 100%;
}
.dash {
  position: absolute;
  width: 2px;
  height: 4px;
  background: #9f9f9f;
  border-radius: 0 2px 2px 0;
  right: -5px;
  top: 45%;
  transform: translate(-50%, -50%);
}
.network-wifi img {
  margin-right: 0.6rem;
}
.chat-section {
  /* background: url(../images/whatsapp-wallpaper.jpg); */
  background-size: contain;
  width: 100%;
  height: 100%;
  padding: 1.6rem;
  display: flex;
  flex-direction: column;
}
.frend {
  justify-items: flex-start;
}
.me {
  justify-items: flex-end;
  text-align: right;
}
.iphone-bottom {
  width: 100%;
  background: #fff;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: -1rem;
}
.iphone.active,
.android.active {
  display: none;
}
.android {
  margin: 0 auto;
  width: 360px;
  height: 700px;
  background: #fff;
}
.mobile-header {
  width: 100%;
  padding: 1.6rem;
}
.android-network-battery img {
  margin-right: 0.5rem;
}
.android-time {
  font-weight: 500;
}
.android-battery-container {
  position: relative;
  width: 24px;
  height: 11px;
  border: 2px solid black;
  border-radius: 3px;
  padding: 1px;
}
.android-dash {
  position: absolute;
  width: 2px;
  height: 4px;
  background: black;
  border-radius: 0 2px 2px 0;
  right: -5px;
  top: 45%;
  transform: translate(-50%, -50%);
}
.user-profile-iphone {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 260px;
}
.user-profile-iphone .user-name {
  font-weight: 800;
}

/* respobsiveness for all chat interface */
@media (max-width: 1000px) {
  .general-interface-container {
    display: flex;
    flex-direction: column;
  }
  .preview-section {
    width: 100%;
  }
  .control-panel {
    width: 100%;
  }
}

@media (max-width: 670px) {
  .preview-heading {
    font-size: 1.4rem;
  }
}
@media (max-width: 500px) {
  .preview-header {
    display: flex;
    flex-direction: column;
  }
  .preview-heading {
    margin-top: 1rem;
  }
}
@media (max-width: 460px) {
  .preview-section {
    padding: 1rem;
    overflow: auto;
  }
}
