* {
  --primary-color: #183140;
  --primary-color-light: #2f4653;
  --secondary-color: #50dead;
  --scondary-color-light: #ddfef3;
  --backround-color: #f5fcff;
  --white: #ffff;
  margin: 0;
  padding: 0;
}

/* UTILITY CLASSES */
.mb-sm {
  margin-bottom: 1rem;
}
.mb-md {
  margin-bottom: 2rem;
}

.mb-lg {
  margin-bottom: 3.5rem;
}

.mb-hg {
  margin-bottom: 5rem;
}

/* STYES FOR COMPONENTS LIKE THE HOW TO SECTION AND FEATURES SECTION */
.mrg-tb {
  margin: 5rem 0;
}
.features {
  text-align: center;
  padding: 2rem;
  margin: 5rem 0;
}
.features__text {
  margin: 0 auto;
  width: 72%;
  color: var(--white);
}
.features__text.text-align-left {
  text-align: left;
}
/* STYLES FOR THE GRID SECTION FOR LANDING PAGE THAT HIGLIGHTS THE DIFFERENT SERVICES */
.layout-container {
  padding: 3rem 0;
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}

.layout-container--img {
  width: 40%;
}
.layout-container--img img {
  width: 100%;
}
.layout-container-descriptions {
  width: 50%;
  margin-bottom: 3rem;
}
@media only screen and (max-width: 57.25em) {
  .layout-container {
    justify-items: center;
    grid-template-columns: 1fr;
  }
}
.features__heading {
  color: var(--secondary-color);
}
.features__heading,
.layout-container-descriptions--title {
  margin-bottom: 2rem;
  font-size: 4rem;
}
@media (max-width: 950px) {
  .layout-container {
    flex-direction: column;
    padding: 0;
  }
  .layout-container-descriptions,
  .layout-container--img {
    width: 100%;
  }
  .features__heading,
  .layout-container-descriptions--title {
    margin-bottom: 2rem;
    font-size: 3rem;
  }
  .features__text {
    width: 90%;
  }
}
