<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Navbar-component</title>
    <link rel="stylesheet" href="navbar.css" />

    <!-- typography -->

    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800;900&family=Raleway:wght@300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- ===================Begining of navbar====================== -->
    <header class="header">
      <nav class="nav d-flex-space-b ninety-percent">
        <div class="nav-logo">
          <img src="../images/top-logo.svg" alt="" />
        </div>

        <ul class="nav-menu d-flex-space-b">
          <li class="nav-item">
            <a href="#" class="nav-link active">Home</a>
          </li>

          <li class="nav-item">
            <a href="#" class="nav-link">WhatsApp</a>
          </li>

          <li class="nav-item">
            <a href="#" class="nav-link">Instagram</a>
          </li>

          <li class="nav-item">
            <a href="#" class="nav-link">Facebook</a>
          </li>

          <li class="nav-item">
            <a href="#" class="nav-link">Tiktok</a>
          </li>

          <li class="nav-item">
            <a href="#" class="nav-link">Twitter</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link"
              >More
              <img src="../images/more-icon.svg" alt="" class="more-icon" />
              <ul class="sub-menu">
                <li>About Us</li>
                <li>Privacy</li>
                <li>Contact</li>
              </ul>
            </a>
          </li>
        </ul>
        <!-- ===========================================copy this section and add to your own header -->
        <div class="plate plate1" onclick="this.classList.toggle('active')">
          <svg
            class="burger"
            version="1.1"
            height="100"
            width="100"
            viewBox="0 0 100 100"
          >
            <path class="line line1" d="M 30,65 H 70" />
            <path
              class="line line2"
              d="M 70,50 H 30 C 30,50 18.644068,50.320751 18.644068,36.016949 C 18.644068,21.712696 24.988973,6.5812347 38.79661,11.016949 C 52.604247,15.452663 46.423729,62.711864 46.423729,62.711864 L 50.423729,49.152542 L 50.423729,16.101695"
            />
            <path
              class="line line3"
              d="M 30,35 H 70 C 70,35 80.084746,36.737688 80.084746,25.423729 C 80.084746,19.599612 75.882239,9.3123528 64.711864,13.559322 C 53.541489,17.806291 54.423729,62.711864 54.423729,62.711864 L 50.423729,49.152542 V 16.101695"
            />
          </svg>
          <svg
            class="x"
            version="1.1"
            height="100"
            width="100"
            viewBox="0 0 100 100"
          >
            <path class="line" d="M 34,32 L 66,68" />
            <path class="line" d="M 66,32 L 34,68" />
          </svg>
        </div>
        <!-- ======================================stop copy here========================================= -->
      </nav>
    </header>
    <!-- =========================End of navbar======================= -->
    <div class="main-container ninety-percent"></div>
    <!-- also copy this script and paste in your code -->
    <script src="../javascript/navbar.js"></script>
  </body>
</html>
