<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Navbar-component</title>
    <link rel="stylesheet" href="navbar.css" />

    <!-- typography -->

    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800;900&family=Raleway:wght@300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- ===================Begining of navbar====================== -->
    <header class="header">
      <nav class="nav d-flex-space-b ninety-percent">
        <div class="nav-logo">
          <img src="../images/top-logo.svg" alt="" />
        </div>

        <ul class="nav-menu d-flex-space-b">
          <li class="nav-item">
            <a href="#" class="nav-link active">Home</a>
          </li>

          <li class="nav-item">
            <a href="#" class="nav-link">WhatsApp</a>
          </li>

          <li class="nav-item">
            <a href="#" class="nav-link">Instagram</a>
          </li>

          <li class="nav-item">
            <a href="#" class="nav-link">Facebook</a>
          </li>

          <li class="nav-item">
            <a href="#" class="nav-link">Tiktok</a>
          </li>

          <li class="nav-item">
            <a href="#" class="nav-link">Twitter</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link"
              >More
              <img src="../images/more-icon.svg" alt="" class="more-icon" />
              <ul class="sub-menu">
                <li>About Us</li>
                <li>Privacy</li>
                <li>Contact</li>
              </ul>
            </a>
          </li>
        </ul>
      </nav>
    </header>
    <!-- =========================End of navbar======================= -->
    <div class="main-container ninety-percent"></div>
  </body>
</html>
