* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --primary-color: #183140;
  --primary-color-light: #2f4653;
  --secondary-color: #50dead;
  --secondary-color-light: #ddfef3;
  --background-color: #f5fcff;

  --general-font: "inter", sans-serif;
  --chat-interface-font: Helvetica;
}
html {
  font-size: 10px;
}
/* defaul styling */
body {
  font-family: var(--general-font);
  color: var(--primary-color);
  font-size: 1.6rem;
  background-color: var(--background-color);
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.ninety-percent {
  width: 90%;

  margin: 0 auto;
}
.header {
  background: var(--background-color);
  position: fixed;
  top: 0;
  z-index: 500;
  width: 100%;
  box-shadow: 0px 4px 20px -7px rgba(0, 0, 0, 0.1);
}

/* display flex styles */
.d-flex {
  display: flex;
}
.d-flex-gap {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.d-flex-space-b {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.d-flex-space-a {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.d-flex {
  display: flex;
  justify-content: space-around;
}
/* button style */

.active-button:hover {
  background-color: var(--secondary-color-light);
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}

.inactive-button {
  background-color: transparent;
  border-color: var(--secondary-color);
  color: var(--secondary-color);
  border-radius: 8px;
  padding: 10px 16px;

  border: 1px solid var(--secondary-color);
}

.inactive-button:hover {
  background-color: #50dead;
  color: #f5fcff;
}

/* the main container has the max-width for the general body */

.nav-item,
.nav-item a {
  padding: 1rem 1.6rem;
  color: var(--primary-color);
}
.nav-link.active,
.nav-link:hover {
  background-color: var(--primary-color);
  color: var(--background-color);
  border-radius: 4px;
}
.more-icon {
  width: 1.6rem;
}
.nav-item {
  position: relative;
}
.sub-menu {
  display: none;
  width: 100%;
  left: 0;
  position: absolute;
  background-color: var(--background-color);
  margin-top: 1rem;
  box-shadow: 0px 4px 20px -7px rgba(0, 0, 0, 0.1);
  font-size: 1.4rem;
}
.sub-menu.active {
  display: block;
}
.sub-menu li {
  margin-top: 1.6rem;
  color: var(--primary-color);
  padding: 10px 6px;
}
.sub-menu li:hover {
  background-color: var(--primary-color);
  color: var(--background-color);
}

.nav-menu.active {
  display: block;
}
svg {
  height: 50px;
  position: absolute;
  width: 50px;
}

.plate {
  display: none;
  height: 50px;
  width: 50px;
}
.burger {
  filter: url(#gooeyness);
}
.x {
  transform: scale(0);
  transition: transform 400ms;
}
.line {
  fill: none;
  stroke: black;
  stroke-width: 6px;
  stroke-linecap: round;
  stroke-linejoin: round;
  transform-origin: 50%;
  transition: stroke-dasharray 500ms 200ms, stroke-dashoffset 500ms 200ms,
    transform 500ms 200ms;
}
.x .line {
  stroke-width: 5.5px;
}
/* First plate */
.plate1 .line2 {
  stroke-dasharray: 40 200;
  stroke-dashoffset: 0px;
}
.plate1 .line3 {
  stroke-dasharray: 40 179;
  stroke-dashoffset: 0px;
}
.active .line {
  transition: stroke-dasharray 500ms, stroke-dashoffset 500ms, transform 500ms;
}
.active.plate1 .line1 {
  transform: scale(0, 1);
  transition: transform 500ms 100ms;
}
.active.plate1 .line2 {
  stroke-dasharray: 5px 200;
  stroke-dashoffset: -164px;
}
.active.plate1 .line3 {
  stroke-dasharray: 5px 179;
  stroke-dashoffset: -142px;
}
.active .x {
  transform: scale(1);
  transition: transform 400ms 350ms;
}
/* El segundo plato */

.main-container {
  margin-top: 10rem;
}
.more-btn {
  cursor: pointer;
}
.sub-menu li:hover {
  background: var(--primary-color);
  color: var(--background-color);
}
.sub-menu li a:hover {
  color: var(--background-color);
}
.sub-menu.mobile {
  position: absolute;
  display: block;
  right: 0;
  width: 30%;

  top: -12rem;
}
.footer {
  padding: 1rem 0;
  background: var(--secondary-color-light);
}
@media (max-width: 1000px) {
  .plate {
    display: inline-block;
  }
  .header {
    padding: 1rem;
  }
  .nav-menu {
    display: none;
    position: absolute;
    left: 50%;
    top: 8rem;
    text-align: center;
    margin-left: 0;
    width: 100%;
    height: 100vh;
    background: var(--background-color);
    transform: translatex(-50%);
    padding: 2rem 0;
  }
  .nav-item {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  .nav-item .nav-link:hover .sub-menu {
    right: 8rem;
    width: 30%;
  }

  .sub-menu li {
    font-size: 2rem;
  }
}
@media (max-width: 700px) {
  .nav-item .nav-link:hover .sub-menu {
    right: 6rem;
  }
}
@media (max-width: 550px) {
  .nav-item .nav-link:hover .sub-menu {
    right: 2rem;
  }
}
@media (max-width: 390px) {
  .nav-item .nav-link:hover .sub-menu {
    right: 0;
  }
}
