* {
  --general-font: "inter", sans-serif;
  --chat-interface-font: Helvetica;
}
body {
  font-family: var(--general-font);
  line-height: 1.5;
}

.chat-interface-font {
  font-family: var(--chat-interface-font);
}
